* {
    box-sizing: border-box;
}

body {
text-align: center;
font-family: "Poppins", sans-serif;
padding-bottom:400px
}
.windsor_logo{
    width:90px;
}
.logo{
    color:#CCC;
    text-decoration:none;
    font-size:24px;
    font-family: "Limelight", sans-serif;;
}
.back h2{
    font-size:14px;
    font-weight:700;
}
.copied{
    position:fixed;
    top:25px;
    background:grey;
    color:white;
    width:150px;
    padding: 3px 5 px;
    font-size:22px;
    border-radius: 4px;
    left:50%;
    margin-left:-75px;
    z-index:10;
    display:none;
}

.flip {
    position: relative;
    display: inline-block;
    margin: 0 auto 1em auto;
    width: 100%;
    cursor: pointer;
}
.flip > .front,
.flip > .back {
    display: block;
    transition-timing-function: cubic-bezier(.175, .885, .32, 1.275);
    transition-duration: 1s;
    transition-property: transform, opacity;
    aspect-ratio: 4/5;
    width:100%;
    max-width:500px;
    max-height:650px;
    background-size: cover!important;
    background-position: center!important;
    padding: 1em 1em;
    background: #FFFFFF;
    border:1px solid #f1f1f1;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    font-size:22px;
    font-weight:100;
}
.flip .front {
    transform: rotateY(0deg);
}
.flip .back {
    position: absolute;
    opacity: 0;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transform: rotateY(-180deg);
}
.flip.flipped .front {
    transform: rotateY(180deg);
}
.flip.flipped .back {
    opacity: 1;
    transform: rotateY(0deg);
}
.center-card{
    display:inline-block;
    margin:0 auto;
    aspect-ratio: 4/5;
    width:100%;
    max-width:400px;
    max-height:500px;
}

.text-shadow {
    text-shadow: 1px 1px rgba(0, 0, 0, 0.04), 2px 2px rgba(0, 0, 0, 0.04), 3px 3px rgba(0, 0, 0, 0.04), 4px 4px rgba(0, 0, 0, 0.04), 0.125rem 0.125rem rgba(0, 0, 0, 0.04), 6px 6px rgba(0, 0, 0, 0.04), 7px 7px rgba(0, 0, 0, 0.04), 8px 8px rgba(0, 0, 0, 0.04), 9px 9px rgba(0, 0, 0, 0.04), 0.3125rem 0.3125rem rgba(0, 0, 0, 0.04), 11px 11px rgba(0, 0, 0, 0.04), 12px 12px rgba(0, 0, 0, 0.04), 13px 13px rgba(0, 0, 0, 0.04), 14px 14px rgba(0, 0, 0, 0.04), 0.625rem 0.625rem rgba(0, 0, 0, 0.04), 16px 16px rgba(0, 0, 0, 0.04), 17px 17px rgba(0, 0, 0, 0.04), 18px 18px rgba(0, 0, 0, 0.04), 19px 19px rgba(0, 0, 0, 0.04), 1.25rem 1.25rem rgba(0, 0, 0, 0.04);
}
.arrow{
    opacity:.5;
    cursor:pointer;
}
.arrow img{
    height:22px;
    position:relative;
    top:-10px;
}
/*
=================================================
IMAGE GALLERY 
=================================================
*/
.default_image{
    display:none;
}
.thumb{
    max-width:149px;
}
.img-thumbnail{
    padding:0;
    margin:2px;
    cursor:pointer;
}

/*
=================================================
JIGGLE ANIMATION
=================================================
*/
/* Define the jiggle animation */
@keyframes jiggle {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

/* Style the paragraph */
p.jiggle {
    display: block; /* Allow the element to be animated smoothly */
    font-size: 20px;
    cursor: pointer; /* Optional: Change cursor to pointer */
    transition: transform 0.2s ease;
}

/* Apply the jiggle animation on hover */
p.jiggle:hover {
    animation: jiggle 0.3s ease 1;
}


/*
=================================================
FILTER BUTTONS
=================================================
*/
.filters button{
    font-size:10px !important;
    margin-bottom:5px;
    cursor: pointer;
}

.input_form{
    position:relative;
}
.filters{
    position:absolute;
    bottom:40px;
}

/*
=================================================
MOBILE ONLY
=================================================
*/
@media (max-width: 768px) {
    /* Your custom styles for small screens here */
    .center-card{
        max-height:200px;
    }
    .flip,  
    .back{
        margin:0 auto 20px auto;
    }
    .filters{
        position:static;
    }
}